.button {
  $light-color: rgba(255, 255, 255, 0.25);
  $dark-color: rgba(0, 0, 0, 0.25);
  $bg-color: var(--btn-color, #69f);
  $color: var(--btn-bg-color, #fff);
  $disabled-color: var(--btn-disabled-color, #ccc);

  padding: 1em;
  border-radius: 0.5em;
  border-width: 0.5em;
  border-style: solid;
  border-color: $light-color $dark-color $dark-color $light-color;
  background-color: $bg-color;
  color: $color;
  display: inline-block;

  &:active {
    border-color: $dark-color $light-color $light-color $dark-color;
  }
  
  &:global(.disabled) {
    background-color: $disabled-color;
  }
}
