.photo {
  $border-color: var(--camera-border-color, #fff);
  $shadow-color: var(--camera-shadow-color, #000);

  outline: 1px solid $shadow-color;
  border: 0.2em solid $border-color;
  opacity: 0;
  pointer-events: none;
  z-index: 1;

  img {
    width: 100%;
    display: block;
  }

  &.loaded {
    opacity: 1;
    pointer-events: all;
    animation: anim-show 0.5s ease forwards;
    z-index: 10;

    @keyframes anim-show {
      0% {
        transform: scale(0);
      }

      95% {
        transform: scale(1.25);
      }

      100% {
        transform: scale(1);
      }
    }
  }
}
