.clickable {
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;

  &:global(.disabled) {
    cursor: not-allowed;
  }

  &:not(:global(.disabled)):active {
    filter: brightness(0.9);
  }
}
