.clickable {
  user-select: none;
  z-index: 1;

  &:not(:global(.disabled)):active {
    &:empty,
    &:not(:empty) > * {
      filter: brightness(0.9);
    }
  }

  &:global(.disabled) {
    cursor: not-allowed;
  }
}