.modal {
  --theme-color: #36f;
  --disabled-color: #ccc;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .box {
    $dur: 0.25s;

    position: relative;
    transform: translateY(0.35em);
    top: -2em;
    margin: 1em;
    max-height: 80%;
    box-sizing: border-box;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    border-radius: 0.25em;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    opacity: 0;
    transition:
      top $dur ease-in-out,
      opacity $dur ease-in-out,
      transform 0.1s ease-in-out $dur;
  
    > * {
      padding: 0 1em;
    }
  }

  .head {
    padding: 0.5em 1em;
    background-color: var(--theme-color);
    color: #fff;
    font-weight: bold;
    text-align: center;

    &:empty {
      padding: 0;
    }
  }

  .body {
    padding: 1em;
    text-align: center;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;

    input {
      --blur-color: #999;
      --focus-color: #333;

      margin: 0 0.25em;
      padding: 0.25em 0.35em;
      outline: none;
      border-radius: 0.5em;
      border: 1px solid var(--blur-color);
      color: var(--blur-color);
      font-size: 1em;
      font-family: monospace;

      &:hover,
      &:focus {
        border-color: var(--focus-color);
      }

      &:focus {
        color: var(--focus-color);
      }
    }
  }

  .foot {
    margin: 1em 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    &:empty {
      margin: 0;
    }
  }

  &.highlight {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(0.75);
  }

  &.show {
    opacity: 1;
    pointer-events: all;

    > .box {
      transform: translateY(0);
      top: 0;
      opacity: 1;
    }
  }
}
