.message {
  margin-block-end: -1px;
  padding: 0.25em 0.5em;
  border: 0 solid var(--border-color, #eee);
  border-width: 1px 0;
  background-color: var(--bg-color, transparent);
  color: var(--color, #eee);
  font-size: 0.8rem;
  pointer-events: all;

  &.debug {
    --color: #ccc;
  }

  &.log {
    --color: #eee;
  }

  &.info {
    --border-color: #9cf;
    --bg-color: #bce;
    --color: #03f;
  }

  &.warn {
    --border-color: #fec;
    --bg-color: #bce;
    --color: #630;
  }

  &.error {
    --border-color: #fdd;
    --bg-color: #fee;
    --color: #f00;
  }
}
