.camera {
  .title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
  }
  
  .major {
    &.taking-photo {
      animation: anim-shot 0.25s linear forwards;
  
      @keyframes anim-shot {
        0% {
          filter: contrast(0);
        }

        100% {
          filter: contrast(1);
        }
      }
    }
  }
  
  .photo-list {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    width: 30%;
  }
}
