.camera-view {
  $bg-color: var(--camera-bg-color);
  $grid-size: calc(100% / 3);

  position: relative;
  background-color: $bg-color;
  font-size: 1rem;
  display: grid;
  grid-template-areas:
    'major'
    'shutter';
  grid-template-rows: 1fr auto;

  .major {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: major;
    display: block;

    &:global(.disabled) {
      cursor: default;
    }
    
    &.taking-photo {
      animation: anim-shot 0.25s linear forwards;
  
      @keyframes anim-shot {
        0% {
          filter: contrast(0);
        }

        100% {
          filter: contrast(1);
        }
      }
    }

    &::before,
    &::after {
      $grid-color: var(--bg-color, #fff);

      content: '';
      position: absolute;
      box-sizing: border-box;
      border: 0 solid $grid-color;
      pointer-events: none;
      z-index: 1;
    }

    &::before {
      transform: translateY(-50%);
      top: 50%;
      width: 100%;
      height: $grid-size;
      border-width: 1px 0;
    }

    &::after {
      transform: translateX(-50%);
      left: 50%;
      width: $grid-size;
      height: 100%;
      border-width: 0 1px;
    }

    .video {
      position: absolute;
    }
  }

  .minor {
    $border-color: var(--camera-border-color, #fff);
    $shadow-color: var(--camera-shadow-color, #000);

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.5em;
    max-width: 30%;
    max-height: 30%;
    width: 100%;
    height: 100%;
    border: 1px solid $border-color;
    outline: 1px solid $shadow-color;
    background-color: $bg-color;
    display: block;

    &:global(.disabled) {
      cursor: default;
    }
  }

  .shutter {
    $size: 20vmin;
    $color: var(--shutter-color, #fff);
    
    margin: 1em;
    left: 50%;
    padding: 0.5em;
    width: $size;
    height: $size;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.2em solid currentcolor;
    background-color: currentcolor;
    background-clip: content-box;
    color: $color;
    grid-area: shutter;
    justify-self: center;

    &:global(.disabled) {
      $color: var(--font-disabled-color, #ccc);

      color: $color;
    }
  }

  .photo-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    box-sizing: border-box;
  }
  
  .switch-camera {
    $color: var(--bg-color, #fff);
    $disabled-color: var(--font-disabled-color, #ccc);

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.25em;
    color: $color;
    font-size: 3em;

    &:global(.disabled) {
      color: $disabled-color;
    }
  }
}
