.view {
  font-size: 1rem;

  .stream {
    cursor: default;
  }

  .major {
    position: relative;
    height: 100%;
    pointer-events: none;
  }

  .minor {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.5em;
    width: 30%;
    height: 30%;
    border: 1px solid #000;
    font-size: 1rem;
    z-index: 10;
  }

  .shutter {
    --size: 25vmin;
    --color: #fff;

    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    width: var(--size);
    height: var(--size);
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.2em solid var(--color);
    background-color: var(--color);
    background-clip: content-box;
    cursor: pointer;
  }
}