.camera-view {
  $bg-color: var(--camera-bg-color);

  position: relative;
  background-color: $bg-color;
  font-size: 1rem;
  display: grid;
  grid-template-areas:
    'major'
    'shutter';
  grid-template-rows: 1fr auto;

  .major {
    position: relative;
    grid-area: major;
    
    &.taking-photo {
      animation: anim-shot 0.25s linear forwards;
  
      @keyframes anim-shot {
        0% {
          filter: contrast(0);
        }

        100% {
          filter: contrast(1);
        }
      }
    }
  }

  .minor {
    $border-color: var(--camera-border-color, #fff);
    $shadow-color: var(--camera-shadow-color, #000);

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.5em;
    max-width: 30%;
    max-height: 30%;
    border: 1px solid $border-color;
    outline: 1px solid $shadow-color;
  }

  .shutter {
    $size: 20vmin;
    $color: var(--shutter-color, #fff);
    
    margin: 1em;
    left: 50%;
    padding: 0.5em;
    width: $size;
    height: $size;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.2em solid $color;
    background-color: $color;
    background-clip: content-box;
    grid-area: shutter;
    justify-self: center;
    cursor: pointer;
  }

  .photo-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    box-sizing: border-box;
  }
  
  .switch-camera {
    $color: var(--bg-color, #fff);
    $disabled-color: var(--font-disabled-color, #ccc);

    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.25em;
    color: $color;
    font-size: 3em;

    &:global(.disabled) {
      color: $disabled-color;
    }
  }
}
