.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease 0.2s;

  &.fullscreen {
    position: fixed;
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .message {
    width: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-flow: column;
    align-items: center;
    opacity: inherit;
    pointer-events: inherit;
    transition: all 0.4s ease;
  }
}