.loading {
  $bg-color: var(--loading-bg-color, rgba(0, 0, 0, 0));
  $msg-bg-color: var(--loading-msg-bg-color, rgba(255, 255, 255, 0.85));
  $msg-font-color: var(--loading-msg-font-color, #000);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: $bg-color;
  font-size: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;

  .message {
    width: 100%;
    padding: 1em;
    background-color: $msg-bg-color;
    color: $msg-font-color;
    display: flex;
    flex-flow: column;
    align-items: center;
    opacity: inherit;
    pointer-events: inherit;
    animation: anim-shining 0.4s linear infinite;
    
    @keyframes anim-shining {
      0%, 100% {
        color: inherit;
      }

      50% {
        color: transparent;
      }
    }
  }

  &.fullscreen {
    position: fixed;
  }

  &.highlight {
    $hl-bg-color: var(--loading-hl-bg-color, rgba(0, 0, 0, 0.5));

    background-color: $hl-bg-color;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0.1rem);
    transition-delay: 1s;

    .message {
      animation: none;
    }
  }
}
