.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;

  .message {
    width: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-flow: column;
    align-items: center;
    opacity: inherit;
    pointer-events: inherit;
    animation: anim-shining 0.4s linear infinite;
    
    @keyframes anim-shining {

      0%, 100% {
        color: inherit;
      }

      50% {
        color: transparent;
      }
    }
  }

  &.fullscreen {
    position: fixed;
  }

  &.highlight {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0.1rem);
    transition-delay: 1s;

    .message {
      animation: none;
    }
  }
}
