html {
  font-size: 5vmin;
}

:root {
  /* font */
  --font-color: #000;
  --font-disabled-color: #ccc;
  --bg-color: #fff;
  --edge-color: #000;
  --shadow-color: rgba(0, 0, 0, 0.5);

  /* button */
  --btn-color: #69f;
  --btn-bg-color: #fff;
  --btn-disabled-color: #ccc;

  /* camera */
  --camera-border-color: var(--bg-color);
  --camera-bg-color: #000;
  --camera-disabled-bg-color: #999;
  --camera-shadow-color: var(--edge-color);
  --shutter-color: var(--bg-color);
  --photo-selected-border-color: #69f;

  /* loading */
  --loading-bg-color: rgba(0, 0, 0, 0);
  --loading-hl-bg-color: rgba(0, 0, 0, 0.5);
  --loading-msg-bg-color: rgba(255, 255, 255, 0.85);
  --loading-msg-font-color: #000;

  /* modal */
  --modal-color: #36f;
  --modal-bg-color: #fff;

  /* form */
  --form-focus-border-color: #333;
  --form-blur-border-color: #999;
}

.app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
